body {
  font-family: Arial, sans-serif;
  background-image: linear-gradient(
      to right,
      rgba(0, 0, 0, 0.5),
      rgba(0, 0, 0, 0)
    ),
    url("../image/bg2.jpg");
  background-size: cover; /* Adjusted to cover the entire background */
  color: #ffd000; /* White text color */
  padding: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh; /* Set minimum height to full viewport height */
}

.end-form {
  max-width: 400px;
  width: 100%;
  padding: 50px;
  background-color: #020202; /* Black background color for the form */
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5); /* Shadow effect */
  display: flex;
  flex-direction: column; /* Align items vertically */
  align-items: left;
}

.form-group {
  display: flex;
  align-items: center;
  margin-bottom: 15px;
}

.form-group label {
  color: #ffd54f; /* Yellow color for labels */
  margin-right: 10px;
  min-width: 100px; /* Minimum width for labels */
  font-size: 20px;
  font-weight: bold;
}

.form-group input[type="text"] {
  flex: 1; /* Flexible width for input fields */
  padding: 10px;
  border-radius: 5px;
  border: none;
  background-color: rgba(
    255,
    255,
    255,
    0.1
  ); /* Semi-transparent white for input fields */
  color: #fff; /* White text color for input fields */
}

.btn-submit {
  background-color: #ffd54f; /* Yellow color for submit button */
  color: #000; /* Black text color for submit button */
  border: none;
  border-radius: 5px;
  padding: 10px 20px;
  cursor: pointer;
  transition: background-color 0.3s ease-in-out; /* Smooth transition for button */
}

.btn-submit:hover {
  background-color: #f9a825; /* Light yellow color on hover */
}
